.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App h1 {
  font-size: 30px;
  height: 60px;
  align-items: center;
  height: 100%;
  padding: 20px 40px;
  background-color: #cbd5e1;
  margin-top: 20px;
  border-radius: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contianer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  border: 1px solid #94a3b8;
  background-color: #e2e8f0;
  margin-top: 10rem;
  border-radius: 8px;
  padding: 15px;
}
.todo-continaer,
.compeleted {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #e2e8f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #e2e8f0;
  overflow: hidden;
}

.todo-continaer {
  word-wrap: inherit;
  overflow: hidden;
}

.btn-comp,
.btn-edit,
.btn-cta,
.btn-delet {
  outline: none;
  border-radius: 12px;
  padding: 4px 7px;
  cursor: pointer;
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn-edit {
  background-color: #f0f9ff;
  border: 1px solid #0284c7;
}
.btn-comp {
  background-color: #f0fdf4;
  border: 1px solid #16a34a;
}
.form-box {
  background-color: #cbd5e1;
  margin-bottom: 30px;
  align-items: center;
  border-radius: 12px;
  overflow: hidden;
}
.input-todo {
  outline: none;
  width: 200px;
  padding: 6px 9px;
  border: 1px solid #94a3b8;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  margin: 10px;
  overflow: hidden;
}
.btn-cta {
  background-color: #f1f5f9;
  border: 1px solid #64748b;
  margin: 10px;
}
.todo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #0284c7;
  margin: 1.5rem;
}
.add-some-todo {
  background-color: #e9a1b1;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  padding: 5px 9px;
}
.compeleted {
  text-decoration: line-through;
  color: #64748b;
}
.btn-delet {
  background-color: #e27c7c;
  border: 1px solid #e21e1e;
}
